/* overall site styling */
html {
  font-family: sans-serif;
}

h2 {
  color: #a01a1a;
}

button {
  background-color: #fba333;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  background-color: rgb(219, 155, 59);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.content {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}

/* nav bar */
.menubar {
  background-color: #db413b;
  display: flex;
  flex-direction: row;

  top: 0px;

  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}

.menubar ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.menubar ul li {
  display: flex;
  flex-direction: row;
  font-size: small;
  flex-wrap: wrap;
  margin: auto;
}

.menubar ul li img {
  width: 50px;
}

.menubar a:link {
  text-decoration: none;
  font-size: larger;
  color: #ffffff;
  background-color: #db413b;
  display: inline;
  padding: 10px;
}

.menubar a:hover {
  color: #BF0000 !important;
  background-color: #ffffff !important;
  border-radius: 5px;
  border-bottom: 0px;
}

/* popups */
.popup {
  display: flex;
  flex-direction: column;
  border: 2px solid #fba333;
  border-radius: 5px;
  padding: 15px;
}

.popup button {
  /* would like to resize and right justify */
}

/* FAQs */
.content li {
  display: flex;
  flex-direction: column;
  border: 2.5px solid #db413b;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-right: 35px;
  margin-left: 0px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);

}

/* picture gallery */
.picture-galley {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 20px;
}

.picture-galley img {
  width: 100px;
  margin: 20px;
}

/* blurbs */
.blurb {
  display: flex;
  flex-direction: column;
}

.blurb .body {
  display: flex;

}

.blurb img {
  width: 100px;
  margin: 20px;
}

/* eboard cards */
.card {
  border: 5px solid #fba333;

}

/* wider screens */
@media (min-width: 600px) {}
